[submodule "tools/tribble"]
	path = tools/tribble
	url = https://github.com/havrikov/tribble.git
[submodule "tools/subjects"]
	path = tools/subjects
	url = https://github.com/havrikov/text-processing-java-projects.git
